@import "/src/assets/custom-colors.scss";
@import "/src/assets/typography.scss";

header{
    box-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
    background: $light-grey-1;
}
.header-container{
    padding-bottom: 20px;
    width: 1250px;
}
.row{
    justify-content: space-between;
}
.header-heading {
    width: 146px;
    height: 45px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 36px;
    margin: 10px 0 0 0;
    color: #001858;

    span {
        width: 48px;
        height: 27px;
        @include paragraph-2;
        line-height: 23px;
        color: $blue
    }
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    //gap: 50px;
    padding: 20px 0px 0px 0px;
}
.header-link{
    text-decoration: none;
    color: $black;
    font-size: 18px;
    font-weight: 700;
}
.list-images{
    padding: 0px 5px 5px 0px;
}
.header-button{
   // background-color: $blue;
    border-radius: 4px;
   // color: $white;
    border: none;
    padding: 7px 17px;
    font-size: 18px;
    font-weight: 700;
}

.dropdown {
    visibility: hidden;
    position: absolute;
    margin: 43px 23px;

    >ul {
        >li {
            >a {
                z-index: 1;
            }
        }
    }
}

$breakpoint-laptop: 1199px;
@media (max-width: $breakpoint-laptop){
    .responsive-row{
        flex-direction: column;
    }
    .responsive-col{
        display: flex;
        justify-content: center;
        margin: auto;
        text-align: center;
    }
    .responsive-col-1{
        width: auto;
    }
}

$breakpoint-tablet: 767px;
@media(max-width: $breakpoint-tablet){
    .header-list{
        //flex-direction: column;
        visibility: hidden;
        position: fixed;
    }
    li{
        margin-bottom: 20px;
    }
    .responsive-col-1{
        margin-top: 15px;
    }
    .dropdown {
        visibility: initial;
        display: flex;
        justify-content: flex-end;
        margin: 20px 10px;
    }

    .dropdown-button {
        margin: auto;
        padding: 0px;
        text-align: end;
        display: flex;
        justify-content: flex-end;
    }

    .dropdown-image {
        width: 40px;
    }
}

$breakpoint-mobile: 576px;
@media (max-width: $breakpoint-mobile){
    header{
        width: max-content;
    } 
}