<footer class="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-lg-4 responsive-column-1">
                <p class="footer-Heading">Yash<span>.Blog</span></p>
                <p class="footer-content">Designed by Yash Maniar</p>
                <div>
                    <img class="footer-images" src="../../assets/images/Medium Monogram.png" alt="Monogram">
                    <img class="footer-images" src="../../assets/images/twitter.png" alt="Twitter">
                    <img class="footer-images" src="../../assets/images/instagram.png" alt="Instagram">
                    <img class="footer-images" src="../../assets/images/linkedin.png" alt="LinkedIn">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="footer-columns responsive-column-2">
                    <div class="footer-subcolumn">
                        <p class="footer-subheading">CATEGORY</p>
                        <p class="footer-content">CSS</p>
                        <p class="footer-content">Javascript</p>
                        <p class="footer-content">Tailwind</p>
                        <p class="footer-content">React JS</p>
                    </div>

                    <div class="footer-subcolumn">
                        <p class="footer-subheading">ABOUT ME</p>
                        <p class="footer-content">CSS</p>
                        <p class="footer-content">Javascript</p>
                        <p class="footer-content">Tailwind</p>
                        <p class="footer-content">React JS</p>
                    </div>

                    <div class="footer-subcolumn">
                        <p class="footer-subheading">GET IN TOUCH</p>
                        <p class="footer-content">+91-799-XXX-XXXX</p>
                        <p class="footer-content">yash@gmail.com</p>
                    </div>

                    <div class="footer-subcolumn">
                        <p class="footer-subheading">FOLLOW US</p>
                        <a href="javascript:void(0);" class="footer-links">Medium</a>
                        <a href="javascript:void(0);" class="footer-links">Instagram</a>
                        <a href="javascript:void(0);" class="footer-links">Twitter</a>
                        <a href="javascript:void(0);" class="footer-links">Facebook</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6 subfooter">
                <p>© 2022 Digitaldastin</p>
            </div>
            <div class="col-lg-6 subfooter footer-love">
                <p>Made With ❤️ Gujarat, India</p>
            </div>
        </div>
        <button class="scroll-top" (click)="onClick()">
            <img  src="../../assets/images/scroll-button.png" alt="top">
        </button>
    </div>
</footer>