<section>
    <div class="container subscribe-container">
        <img class="subscribe-image" src="../../assets/images/image 2.png" alt="">
        <p class="subscribe-content">Subscribe For the Latest Updates</p>
        <p class="subscribe-content-1">Subscribe to newsletter and never miss the new post every week.</p>
        <form class="subscribe-form">
            <input type="email" placeholder="Enter your email here...." class="subscribe-form-email">
            <button class="subscribe-button">Subscribe</button>
        </form>
    </div>
</section>