<!-- <img src="../../assets/images/Dot.png" alt="dots" class="background-img"> -->
<section>

    <div class="container hero-container">
        <div class="row responsive-row">
            <div class="col-lg-6 responsive-col">
                <p class="hero-heading">Hey , i’m Yash , Front end dev</p>
                <p class="hero-subheading">On this blog I share tips and tricks, frameworks, projects, tutorials, etc
                    Make sure you subscribe to get the latest updates</p>
                <form class="subscribe-form">
                    <input type="email" placeholder="Enter your email here...." class="subscribe-form-email">
                    <button class="subscribe-button">Subscribe</button>
                </form>
            </div>
            <div class="col-lg-6 hero-image responsive-col-1">
                <img src="../../assets/images/learn-coding 1.png" alt="hero">
            </div>
        </div>
    </div>
</section>