<section>
    <form class="login-form" [formGroup]="form">
      <input type="text" id="username" placeholder="username" class="login-details" formControlName="username"><br>
      <!-- <input type="password" id="password" placeholder="password" class="login-details" formControlName="password"> -->
      <show-hide-password size="md" btnstyle="primary" [btnOutline]="false">
        <input type="password"  placeholder="password">
      </show-hide-password>
      <button type="submit" class="login-submit" (click)="onSubmit()">LOGIN</button>
    </form>
  </section>