<section>
    <div>
        <button class="scroll-button" (click)="scroll(target)">
            <img src="../../assets/images/scroll-button.png" alt="scroll">
        </button>
    </div>
    <div #target class="container category-container">
        <div class="row category-heading-row">
            <div  class="col-lg-6 p-0">
                <p class="category-heading">Browse The Category
                    <img src="../../assets/images/Line 3.png" alt="line">
                </p>
            </div>
            <div class="col-lg-6 p-0">
                <p class="category-heading-1">See All Category
                    <img class="arrow-button" src="../../assets/images/arrow.png" alt="arrow">
                </p>
            </div>
        </div>
        <div class="row category-section">
            <div class="col-lg-2 category-card">
                <img class="img" src="../../assets/images/css.png" alt="css">
                <p class="category-card-content">CSS</p>
            </div>
            <div class="col-lg-2 category-card">
                <img class="img" src="../../assets/images/Js.png" alt="js">
                <p class="category-card-content">Javascript</p>
            </div>
            <div class="col-lg-2 category-card">
                <img class="img" src="../../assets/images/tail.png" alt="tail">
                <p class="category-card-content">Tailwind</p>
            </div>
            <div class="col-lg-2 category-card">
                <img class="img" src="../../assets/images/vue.png" alt="vue">
                <p class="category-card-content">Vue JS</p>
            </div>
            <div class="col-lg-2 category-card">
                <img class="img" src="../../assets/images/react.png" alt="raect">
                <p class="category-card-content"t>React JS</p>
            </div>
        </div>
    </div>
</section>