@import "../../assets/custom-colors.scss";

section{
    background-color: $light-grey-1;
    padding: 69px 0px;
}

.scroll-button{
    margin: 220px auto 90px auto;
    display: flex;
    border: none;
}
.category-container{
    width: 1250px;
}
.category-heading-row{
    padding-bottom: 53px;
}
.category-heading{
    font-size: 24px;
    font-weight: 700;
}
.category-heading-1{
    font-size: 24px;
    font-weight: 700;
    justify-content: flex-end;
    display: flex;
}
.arrow-button{
    height: 20px;
    margin: 11px;
}
.category-section{
    display: flex;
    gap: 37px;
    justify-content: space-between;
}
.category-card{
    background-color: $white;
    width: 220px;
    height: 280px;
    color: $black;
    padding: 65px 130px 155px 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px #ccc;
    transition: all 0.2s linear 0.1s;

    &:hover{
        background-color: $blue;
        color: $white;
    }
}

.category-card-content{
    font-size: 24px;
    font-weight: 700;
    width: 100px;
    padding-top: 30px;
}
// .img{
//     background-color: $white;
//     padding: 15px 10px;
//     border-radius: 7px;
// }


$breakpoint-laptop: 1400px;

@media (max-width: $breakpoint-laptop){
    .category-card{
        margin: auto;
    }
}


$breakpoint-tablet: 991px;

@media (max-width: $breakpoint-tablet){
    .category-heading{
        text-align: center;
    }
    .category-heading-1{
        justify-content: center;
    }
}
$breakpoint-mobile: 576px;

@media (max-width: $breakpoint-mobile){
    section{
        width: max-content;
    }
    .category-section{
        flex-direction: column;
    }
}