@import "../../assets/custom-colors.scss";

.Read-more-button{
    background-color: $blue;
    color: $white;
    border: none;
    padding: 15px 22px 15px 22px;
    border-radius: 8px;
    margin: 80px auto 80px auto;
    display: flex;
    font-size: 20px;
    font-weight: 700;
}


section{
    background-color: $white;
    padding: 0px 0px 0px 0px;
}
.blog-container{
    width: 1250px;
}
.blog-heading-row{
    padding-bottom: 33px;
    padding-top: 82px;
}
.blog-heading{
    font-size: 24px;
    font-weight: 700;
}
.blog-heading-1{
    font-size: 24px;
    font-weight: 700;
    justify-content: flex-end;
    display: flex;
}

.arrow-button{
    height: 20px;
    margin: 11px;
}