@import "../../assets/custom-colors.scss";

// section{
//     background-color: $white;
//     padding: 80px 0px 0px 0px;
// }
// .blog-container{
//     width: 1250px;
// }
// .blog-heading-row{
//     padding-bottom: 33px;
// }
// .blog-heading{
//     font-size: 24px;
//     font-weight: 700;
// }
// .blog-heading-1{
//     font-size: 24px;
//     font-weight: 700;
//     justify-content: flex-end;
//     display: flex;
// }
// .arrow-button{
//     height: 20px;
//     margin: 11px;
// }

// .blog-section{
//     display: flex;
//     gap: 37px;
//     justify-content: space-between;
// }
.blog-section{
    justify-content: space-between;
    padding-bottom: 0px;
}
.blog-card{
    background-color: $white;
    color: $black;
    width: 300px;
    height: 425px;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 0px #ccc
}

.blog-card-content{
    font-size: 20px;
    font-weight: 700;
    padding-top: 25px;
}
// .blog-subsection{
//     position: absolute;
//     top: 2016px;
// }
.img{
    display: block;
    margin: auto;
}
.profile-img{
    width: 57px;
    height: 57px;
    border-radius: 100%;
}

.blog-subcontent{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
.blog-subcontent-1{
    font-size: 14px;
    font-weight: 400;
}